
.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-item a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
    flex: 1;
}

.content h1 {
    margin-top: 0;
}

.counters {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 600px;
    flex-wrap:wrap;
}

.counter {
    text-align: center;
    width: 200px;
    background-color: azure;
    margin-right: 33px;
    margin-bottom: 33px;
   
}

.counter h2 {
    margin-bottom: 5px;
}